body{
    width: 991px;
    margin: auto;
    background:#f6f8fc;
}
.empty{
    width: 100%;
    height: 25px;
}
.Form{
    background-image: url('Form-bg.png');
    height: 346px;
}
.Form-container{
    width: 677px;
    margin-left: auto;
    margin-top:8px;
}
.Form-title{
    font: 27pt arial;
    text-shadow: 1px 0 5px #000;
    color: #fff;
    margin-left:275px;
    letter-spacing: 1px;
}
.Form-list{
    margin-left: auto;
}
ul{
    display: inline-block;
    margin-top:21px;
    margin-right:57px;
}
li,  .tableLink  {
color:#fff;
    font-size: 15px;
    font-family: arial;
    /*margin:5px 30px 0 0;*/
    line-height:25px;
}
.Form-Arrow{
    background-image: url('big_arrow.png');
    width: 418px;
    height: 91px;
    margin-left:25px;
    margin-top: 14px;
    float: left;
}
.Form-Arrow-select {
    width: 198px;
    height: 23px;
    margin-left: 13px;
    background-color: #fff;
    padding-left: 11px;
}
.Form-Arrow-input{
    width: 134px;
    height: 17px;
    margin-left: 0px;
    bottom:4px;
}
.Form-Arrow-spacing{
    margin-top:13px;
}
.Form-Arrow-down{
    margin-top: 1px;
}
.choose-btn{
    background: url(but1.png);
    margin-left: auto;
    margin-top:38px;
    margin-right:39px;
    width: 158px;
    height: 53px;
    border-radius: 10px;

}
.choose-btn:hover{
    background: url(but1-hover.png);
    margin-left: auto;
    margin-top:38px;
    margin-right:39px;
    width: 158px;
    height: 53px;
    border-radius: 10px;
}
.AddCompany-text{
    width: 686px;
    float: left;
    height: 130px;
}
.fon{
    background: url('grad.png');
    width: 686px;
    height: 55px;
    opacity: 0.85;
    position: relative;
    bottom: 57px;
}
.AddCompany-texth{
    font-family: DaxlinePro-Regular;
    font-size: 30px;
}
.AddCompany-texts{
    font-family:"Times New Roman";
    font-size: 16px;
    }
@font-face {
    font-family: DaxlinePro-Regular;
    src: url(DaxlinePro-Regular.otf);
}
.AddCompanyAction{
    float: right;
    margin-right: 40px;
    height: 79px;
}
.AddCompanyAction-button{
    background: url('but2.png');
    height: 79px;
    width: 225px;
}
.AddCompanyAction-button:hover{
    background: url('but2-hover.png');
    height: 79px;
    width: 225px;
}
.AddCompanyAction-underbuttontext-span{
    font-family:"Times New Roman";
    font-size: 14pt;
    color:#abb5bc;
    font-style: italic;
}
.AddCompanyAction-underbuttontext{
    margin-left: 5px;
    bottom:4px;
    position: relative;}
select{
    background: url('strela.png') 180px no-repeat;
    -webkit-appearance: none;
}
table{
    font-family:arial;
    font-size: 16px;
    text-align: center;
    margin-bottom:50px;
    width: 100%;
    box-shadow : -1px 24px 24px -12px #BFDADA;
    top:6px;
    position: relative;
    border-spacing: 2px 2px;
}
.Firstline{
    background: #54A3B3;
    color:#ffffff;
    font-weight:bold;
    height: 33px;
}
.table0{
    background: #F6F8FC;
}
.table0 td{
    border-top:1px solid #F6F8FC;
    border-bottom:1px solid #F6F8FC;
}
.table1{
    background: #BFDADA;
}
.table1 td{
    border-top:1px solid #BFDADA;
    border-bottom:1px solid #BFDADA;
}
.link-for-more{
    float: right;
    color:#007db6;
    font-size:9pt;
    border-bottom: #007DB6 1px dotted;
    text-decoration: none;
    bottom: 49px;
    right:6px;
    position: relative;
}
td{
    /*height: 14px;*/
}
.table0:hover td, .table1:hover td{
    background: #cee4e9;
    border-top:1px solid #3e94a7;
    border-bottom:1px solid #3e94a7;
}
.table0:hover .tab1 {
    border-left:1px solid #3e94a7;
}
.table0:hover .tab6{
    border-right:1px solid #3e94a7;
}
.table1:hover .tab6{
    border-right:1px solid #3e94a7;
}
.table1:hover .tab1 {
    border-left:1px solid #3e94a7;
}
.table0 .tab1 {
    border-left:1px solid #F6F8FC;
}
.table0 .tab6{
    border-right:1px solid #F6F8FC;
}
.table1 .tab6{
    border-right:1px solid #BFDADA;
}
.table1 .tab1 {
    border-left:1px solid #BFDADA;
}
input {
    padding-left: 7px;
}